.modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: rgba(25, 25, 25, 1.0);
  border-radius: 15px;
  width: 300px;
  box-shadow: 0px 0px 10px 10px rgba(10, 10, 10, 0.75);
}
